* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.row1 .logo {
    float: left;
    width: 20%;
}

.row1 .text_tieu_de {
    display: flex;
    float: left;
    width: 80%;
}

.logo a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo img {
    display: flex;
    width: 70px;
    height: 52px;
    margin-top: 0;
    margin-right: 5px;
}

.logo i {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 0;
}

.text_tieu_de>h3,
.text_tieu_de>p {
    margin-bottom: 0;
    line-height: 70px;
}

.text_tieu_de>h3 {
    font-weight: normal;
    font-size: 20px;
}

.text_tieu_de>p {
    width: 80%;
    margin-left: 53px;
}

.text_tieu_de>p>a {
    text-decoration: none;
    color: red;
}

.row2 {
    background: url("../img/background_dk_thanh_vien.jpg") top center / cover no-repeat;
}

.row2_con {
    width: 900px;
    /* border: 1px solid; */
    margin: 0 auto;
    padding: 20px 0;
}

.row2 .content_left {
    float: left;
    width: 50%;
    transform: translateX(-25%);
}

.row2 .content_right {
    float: right;
    width: 50%;
    /* transform: translateX(25%); */
}

.row2 .content_left {
    /* margin-left: 250px; */
    height: 100%;
    padding: 82px 0;
    /* transform: translateY(28%); */
}

.content_left_con {
    float: right;
}

.content_left_con>h4 {
    margin-top: 16px;
}

.content_left_con>p {
    color: red;
}

.row2 .content_right>a {
    text-decoration: none;
    color: red;
}

.content_right .form_dang_nhap {
    float: right;
    width: 90%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 5px gray;
    padding: 15px 25px;
}

.form_dang_nhap input,
.form_dang_nhap .btn_tiep_theo {
    width: 100%;
    float: left;
    height: 35px;
}

.form_dang_nhap #submit_dang_nhap {
    background-color: rgb(198, 197, 197);
    margin-bottom: 8px;
}

.form_dang_nhap input {
    /* margin-top: 15px; */
    padding-left: 5px;
}

.form_dang_nhap {
    position: relative;
}

.form_dang_nhap .icon_check1 {
    float: right;
    position: absolute;
    top: 70px;
    right: 35px;
}

.form_dang_nhap .icon_check2 {
    float: right;
    position: absolute;
    top: 140px;
    right: 35px;
}

.form_dang_nhap #tai_khoan {
    margin-top: 15px;
    /* margin-bottom: 10px; */
}

.form_dang_nhap .hr {
    display: flex;
    width: 100%;
}

.hr hr {
    width: 50%;
}

.btn_fb,
.btn_gg {
    width: 48%;
    margin-bottom: 10px;
}

.btn_fb:hover,
.btn_gg:hover {
    background-color: rgb(243, 241, 241);
}

.btn_dang_ky {
    margin-bottom: 50px;
}

button .img_gg {
    float: left;
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    margin-left: 27px;
    margin-right: -20px;
}

.img_gg>img {
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

.quen_mk>a {
    text-decoration: none;
    font-size: 14px;
}

.quen_mk a:first-child {
    float: left;
}

.quen_mk a:last-child {
    float: right;
}

.dang_ky>p>a {
    text-decoration: none;
    color: red;
}

.form_dang_nhap>#tb_tai_khoan,
.form_dang_nhap>#tb_mat_khau {
    float: left;
    width: 100%;
    min-height: 30px;
}